.modalBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}


.modalBackdropActive{
    opacity: 1;
    visibility: visible;
}


.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: rgb(233, 231, 231);
    width: 50%;
    height: 70%;
    scale: 0;
    transition: .5s;
    border-radius: 20px;
}

.modalActive {
    scale: 1;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 0 10px;
    background-color: rgb(209, 247, 250);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    margin: 0 auto;
    width: 50%;
    height: 90%;
}

.modalp {
    cursor: pointer;
}

.hideContent {
    display: none;
}

.modalContentInput1 {
    padding: 5px 0;
    border-radius: 5px;
}

.modalContentInput2 {
    padding: 5px 0;
    border-radius: 5px;
}


.modalContentButton {
    background-color: rgb(193, 114, 193);
    padding: 5px 0;
    border-radius: 5px;
}